---
---
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css";
@import "https://fonts.googleapis.com/css?family=Libre+Baskerville";
@import "https://fonts.googleapis.com/css?family=Stardos+Stencil";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";

h1, h2, h3 {
  font-family: Stardos Stencil;
}

p, td, li {
  font-family: Libre Baskerville;
}

.main {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: -93px 0 0 -184px;
  .nav-item {
    display: inline-block;
  }  
}

.fa-hatena {
  &:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
  }
}
