---
---
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css";
@import "http://fonts.googleapis.com/earlyaccess/notosansjapanese";
@import "http://fonts.googleapis.com/css?family=Inconsolata";

html {
  max-width: 800px;
}
h1, h2, h3 {
  font-family: Noto Sans Japanese;  
}
p, td, li {
  font-family: Noto Sans Japanese;
}


body {
  width: 85%;
  margin: 0 50px;

  code {
    font-family: 'Inconsolata', monospace; 
  }

}
