---
--- 
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css";
@import "https://fonts.googleapis.com/css?family=Libre+Baskerville";
@import "https://fonts.googleapis.com/css?family=Stardos+Stencil";
@import "https://fonts.googleapis.com/css?family=Inconsolata";
@import "https://fonts.googleapis.com/earlyaccess/notosansjapanese";

body {
    margin: 10px 30px 50px;
}

.header {
    font-family: Stardos Stencil;
    height: 120px;

    .title {
        a {
            text-decoration: none;
            color: black;
        }

        font-size: 2.0rem;
        margin: 0;
        padding-top: 20px;
    }

    .subtitle {
        font-size: 1.0rem;
        margin: 0;
    }

    .subtitle:after {
        padding-top: 7px;
        border-bottom: 1px dashed black;
        content: "";
        display: block;
    }
}

.index {
    .title {
        margin: 0;
    }

    h1,
    h2,
    h3 {
        font-family: Stardos Stencil;
    }

    h4,
    h5,
    p,
    li {
        font-family: Libre Baskerville;
    }

    .icon {
        overflow: hidden;
        width: 300px;
        height: 300px;
        position: relative;
    }
}

.post {
    font-family: Noto Sans Japanese;
    
    h1 {
        font-size: 1.5rem;
        border-bottom: 3px double black;
    }
    
    h2 {
        font-size: 1.3rem;
        border-bottom: 1px solid black;
    }

    h3 {
        font-size: 1.1rem;
        border-bottom: 1px dotted black;
    }
    
    .title {
        margin: 0;
    }

    code {
        font-family: 'Inconsolata', monospace;
    }

    pre {
        position: relative;
        padding: 10px 20px;
        border: solid 2px black;
    }

    img {
        max-width: 100%;
    }
}

.footer:before {
    border-bottom: 1px dashed black;
    content: "";
    display: block;
}

.footer {
    font-family: Stardos Stencil;
}