<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  {% if page.title == null %}
  <title>shamisonn.github.io;</title>
  {% else %}
  <title>shamisonn.github.io; | {{ page.title }}</title>  
  {% endif %}
  <link href="/css/style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130792681-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130792681-1');
  </script>
</head>

<body>
  <header class="header">
    <h1 class="title">shamisonn.github.io;</h1>
    <p class="subtitle">
      The Personal Pages | <a href="/">index</a> | <a href="/about">about</a>
    </p>
  </header>
  <main class="{{ page.mode }}">
    <h1 class="title">{{ page.title }}</h1>
    {{ content }}
  </main>
  <footer class="footer">
    <p>(C) 2021 shamisonn</p>
  </footer>
</body>

</html>
